.garantia-bg {
  background-color: #440f16;
  padding: 40px 0;
}

.garantia h1 {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 760px) {
  .garantia h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 680px) {
  .garantia h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .garantia h1 {
    font-size: 2rem;
  }
}

