.oferta-bg {
  background-image: url("/img/bg-oferta-black.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 820px;
}

.oferta h1 {
  padding: 120px 0 60px 0;
}

.oferta a {
  padding: 25px 104px;
}

.oferta-box {
  background: rgba(68, 15, 22, 0.40);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(68, 15, 22, 0.69);
  padding: 50px 70px;
  text-align: center;
  margin-bottom: 28px;
  max-width: 560px;
}

.texto1-oferta {
  display: flex;
  justify-content: space-around;
}

.oferta-antiga {
  text-decoration-line: line-through;
}
.texto2-oferta {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avista {
  text-align: right;
}

.segura {
  margin-top: 30px;
  margin-left: 80px;
}
