.alvo-bg {
  background-color: #121212;
}

.alvo {
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 60px;
  justify-content: space-between;
}

.dexter-alvo img {
  border-radius: 5px;
}

.alvo-lista {
  max-width: 490px;
}

.alvo-lista h1 {
  margin-bottom: 20px;
}

.alvo-lista li {
  position: relative;
}

.alvo-lista li::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url("./img/icons/check.svg");
  position: absolute;
  left: -35px;
  top: 16px;
}

.alvo-lista li:first-child {
  margin-bottom: 20px;
  padding-top: 10px;
}

.alvo-lista li + li {
  border-top: 1px solid #e31e38;
  margin-bottom: 20px;
  padding-top: 10px;
}

@media (max-width: 1000px) {
  .alvo {
    padding-top: 40px;
  }
}

@media (max-width: 500px) {
  .alvo-lista h1 {
    padding-top: 20px;
    font-size: 1.5rem;
  }
}
@media (max-width: 330px) {
  .alvo-lista li {
    font-size: 1rem;
  }
}
