.entregaveis-bg {
  background-image: url("/img/bg-editado-entregaveis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding-bottom: 60px;
}

.entregaveis h1 {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* .entregaveis-lista {
  display: flex;
  flex-wrap: wrap;
  position: relative;
} */

.entregaveis-lista li {
  max-width: 1000px;
  position: relative;
  padding-bottom: 30px;
}

.entregaveis-lista li img {
  padding-top: 8px;
}

.entregaveis-lista li::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 21px;
  background-image: url("/img/icons/check.svg");
  left: -35px;
  position: absolute;
  top: 10px;
}


@media (max-width: 510px) {
  .entregaveis h1 {
    font-size: 1.5rem;
  }
  .entregaveis li {
    font-size: 1.125rem;
  }
}