.feedback-bg {
  background-color: #121212;
}
.feedback {
  padding-bottom: 60px;
}

.feedback h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.slider-container {
  max-width: 900px;
  margin: 0 auto 10px;
}

.carousel-item {
  background-color: #6d0922;
  max-width: 440px;
  padding: 30px 42px 75px 42px;
  border-radius: 5px;
  margin-right: 40px;
}

.carousel-item img {
  border-radius: 100%;
  margin: 0 auto;
}

.carousel-item h2 {
  margin: 20px 0;
  text-align: center;
}

.active {
  background-color: #e31e38;
}


@media (max-width: 400px) {
  .feedback h1 {
    font-size: 1.5rem;
  }
}